/00_Reaserch/POLITECNICO DI TORINO Robotics_project
/00_Reaserch/GUI_Micro_Delta_CANopen
*.fmsh
*.fwiz
*.fsat
*.fins
*.fres
*.ftes


OldVersions/
*/OldVersions/
*/*/OldVersions/


*.lck
*.lock
*.tmp
*.dlog
*.dtk
*.~*
~*
*.bak
*.ipj.bak




*.idv
*.ipm


*.o
*.ko
*.so
*.mod.c
*.mod
*.symvers
*.order
.tmp_*
Modules.symvers
modules.order
linuxcnc_debug.txt
linuxcnc_print.txt


*.comp.c





__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
venv/
ENV/





.DS_Store
Thumbs.db
ehthumbs.db
.vscode/
.idea/
*.swp
*.swo